/* line 17, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/myStyles.scss */
.contentContainer {
  padding-left: 15%;
  padding-right: 15%;
}

/* line 16, ../scss/myStyles.scss */
#mainHeader {
  width: 100%;
  background-color: RGB(151, 33, 38);
  display: flex;
}
/* line 22, ../scss/myStyles.scss */
#mainHeader a img {
  width: 300px;
  height: auto;
}
/* line 29, ../scss/myStyles.scss */
#mainHeader nav ul {
  display: flex;
}
/* line 32, ../scss/myStyles.scss */
#mainHeader nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* line 41, ../scss/myStyles.scss */
main {
  display: flex;
  flex-wrap: wrap;
}
/* line 46, ../scss/myStyles.scss */
main #welcomeHeader {
  background-color: lightgray;
  height: 100px;
  min-width: 100%;
}
/* line 50, ../scss/myStyles.scss */
main #welcomeHeader h1 {
  text-align: center;
  font-size: 40px;
}
/* line 55, ../scss/myStyles.scss */
main #leftArticle {
  background-color: green;
  min-width: 50%;
  flex: 1;
}
/* line 60, ../scss/myStyles.scss */
main #rightArticle {
  background-color: purple;
  min-width: 50%;
  flex: 1;
}
/* line 64, ../scss/myStyles.scss */
main #rightArticle .fadein {
  position: relative;
  width: 430px;
  height: 300px;
}
/* line 69, ../scss/myStyles.scss */
main #rightArticle .fadein img {
  position: absolute;
  left: 0;
  top: 0;
}
