#mainHeader{
	nav{
		ul{
			li{
				min-width:20%;
				font-size:1em;
				padding-top:10px;
			}
		}
	}
}

@media screen and (max-width:1400px){
	main #welcomeHeader{
		height:120px;
	}
}

@media screen and (max-width:1100px){

}