#mainHeader{
	nav{
		ul{
			li{
				min-width:20%;
				font-size:1em;
				padding-top:10px;
			}
		}
	}
}

@media screen and (max-width:1400px){
	main{
		#welcomeHeader{
		height:120px;
		}

		#rightArticle{
		min-width:95%;
		}
		#leftArticle{
			border-bottom:3px solid lightgray;
		}
	}
}

@media screen and (max-width:1100px){
	main{
		#welcomeHeader{
			h1{
				font-size:2em;
			}
		}
	}
	#mainHeader{
		flex-wrap:wrap;
		a{
			margin:auto;

		}
		#menuButton{
			display:initial;
		}
		nav{
			display:none;
			min-width:95%;
			ul{
				flex-direction:column;
				li{
					min-width:10%;
					font-size:1em;
					padding-top:10px;
					margin-top:0px;
					border-bottom:1px solid lightgray;

					&:last-child{
					border:0;
					border-bottom-left-radius:7px;
					border-bottom-right-radius:7px;
					border-top-right-radius:0px;
					}
					&:first-child{
					border-bottom-left-radius:0px;
					border-top-left-radius:7px;
					border-top-right-radius:7px;
					}
				}
			}
		}
	}
}